.repoform--out {
  text-align: center;
  font-size: 25px;
  padding: 60px 0 10px 0;
}

.repoform--out p {
  margin: 20px auto;
  font-weight: 300;
}

.repoform--out .light {
  font-weight: 100;
}

.repoform--out .dark {
  font-weight: 400;
}

.repoform--in {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}

.repoform--in input {
  margin: 10px;
}

.repoform--in input[type='text'] {
  padding: 10px;
  border-radius: 5px;
  font-weight: 100;
  border: 1px solid #ccc;
  outline: 0;
}
