.pagehead {
  background-color: #fafafa;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.pagehead h1 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

.pagehead h3 {
  font-weight: 300;
}

.pagehead--container {
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
}
